.error-page {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 100px 0 120px 0; 
}

.error-container {
    display: flex;
    flex-direction: column;
    gap: 120px; 
    align-items: center;
    justify-content: center;
}

.error-code {
    font-weight: 700;
    font-size: clamp(60px, 26vw, 288px);
    color: #ff6f6f;
    margin: 0; 
    line-height: 1;
    max-width: 100%;
}

.error-message {
    font-weight: 500;
    font-size: 36px;
    color: #ff6f6f;
    margin: 0; 
}

.error-link {
    font-weight: 600;
    font-size: 18px;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    margin: 0; 
}

/* Tablette */
@media screen and (max-width: 1024px) {
   
    .error-message {
        font-size: 24px;
    }
    .error-link {
        font-size: 18px;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
  
    .error-message {
        font-size: 18px;
        text-align: center;
        line-height: 143%;
    }
    .error-link {
        font-size: 14px;
    }
}
@media screen and (min-width: 481px) {
    .line-break {
        display: none; 
    }
}
