body{
    margin: 0;
    padding: 10px 100px;
    max-width: 1440px;
    margin: 0 auto;
  }

/* --- Image --- */
.image-apropos {
  width: 100%;
  max-width: 1240px;
  height: 223px;
  margin: 20px auto;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.image-apropos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

/* --- Collapse Container --- */
.collapse-container {
  max-width: 1023px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;  
}

/* --- Responsive --- */
@media screen and (max-width: 768px) {
  .image-apropos {
    height: 180px;
  }
  .collapse-container {
    width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .image-apropos {
    height: 111px;
  }
  .collapse-container {
    width: 95%;
  }
}
