/* === Collapse (Dropdown) === */
.dropdown {
  width: 100%;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  overflow: visible;
  display: flex;
  flex-direction: column;
  transition: border-radius 0.3s ease;
}

.dropdown-title {
  background-color: #ff6f6f;
  color: white;
  height: 52px; 
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.dropdown-header {
  font-size: 24px;
  font-weight: bold;
  
}

.dropdown-arrow {
  font-size: 24px;
  transition: transform 0.4s ease-in-out;
}

/* Contenu Collapse */
.dropdown-content {
  background-color: #fbfbfb;
  color: #333;
  font-size: 16px;
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.dropdown-content ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.active-dropdown {
  max-height: 500px;
  padding: 15px 20px;
}

.dropdown.open .dropdown-arrow {
  transform: rotate(-180deg);
}
.collapse-container {
    gap: 30px;
    
  }

/* Responsive */
@media screen and (max-width: 420px) {
  .collapse-container {
    width: 100%;
    margin: 20px auto;
    gap: 20px;
    
  }
 .dropdown-title {
    height: 30px;             
    padding: 0 15px;
  }
  .dropdown-header {
    font-size: 13px;
    
  }
  .dropdown-arrow {
    font-size: 16px;
  }
  .dropdown-content{
    font-size: 12px;
  }
}

