.footer {
  background-color: black;
  width: 100%;
  width: 1440px;
  height: 209px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%); 
}
  .footer-content{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }
  .logo-footer {
    filter: grayscale(1) brightness(100); 
    width: 100px;
    height: auto;
  }
  .footer-text{
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }
  .footer-text i {
    margin-right: 5px;
    font-size: 18px;
  }