.footer {
  background-color: black;
  width: 100%;
  height: 209px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%); 
}
  .footer-content{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }
  .logo-footer {
    filter: grayscale(1) brightness(100); 
    width: 122px;
    height: 40px;
  }
  .footer-text{
    color: white;
    font-size: 24px;
    margin: 0;
  }
  .footer-text i {
    margin-right: 5px;
    font-size: 18px;
  }
  @media screen and (max-width: 768px) {
    .footer{
      width: 375px;
      height: 209px;
    }
    .logo-footer {
      width: 122px;
      height: 40px;
  }
    .footer-text{
      width: 133px;
      height: 46px;
      font-size: 12px;

    }
    .footer-text i{
      font-size: x-small;
    }
}