.footer {
  background-color: black;
  height: 209px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
  .footer-content{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }
  .logo-footer {
    filter: grayscale(1) brightness(100); 
    width: 122px;
    height: 40px;
  }
  .footer-text{
    color: white;
    font-size: 24px;
    margin: 0;
  }
  .footer-text i {
    margin-right: 5px;
    font-size: 18px;
  }
  @media screen and (max-width: 1440px) {
  .footer {
    width: 100vw;
    max-width: none;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}
  @media screen and (max-width: 768px) {
    .footer{
      height: 209px;
    }
    .logo-footer {
      width: 122px;
      height: 40px;
  }
    .footer-text{
       max-width: 122px;
      font-size: 12px;
      text-align: center;
      line-height: 143%;

    }
    .footer-text i{
      font-size: x-small;
    }
}