.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  height: 68px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.logo {
  width: 211px;
  height: 68px;
 
}

.nav-list {
  display: flex;
  gap: clamp(15px, 5vw, 57px);
  font-size: clamp(12px, 2vw, 24px);
  margin: 0;
  padding: 0;
  flex-shrink: 1;
  justify-content: flex-end;
  overflow: hidden;
}

nav a {
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

nav a.active {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%; 
    height: 46.88px; 
    margin: 20px auto 0 auto; 
    padding: 0; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 11px;
  }

  .logo {
    display: block; 
    width: 145px; 
    height: 46.88px; 
  }

  .nav-list {
    justify-content: flex-end;
    gap: 11px;
  }

  .nav-list a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 143%;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: bottom;
  }

  .nav-list a.active {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
  }
}
