.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px; 
    margin: 0 auto;
    padding: 0 20px; 
}

.logo {
    height: 70px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
}

.nav-list li:active {
    text-decoration: underline;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a.active {
    text-decoration: underline;
}

.removeUnderLine {
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    .logo {
        height: 50px;
        margin-bottom: 15px;
        margin-right: 35px;
    }

    .header {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        width: 100%;
    }

    .nav-list {
        gap: 30px;
        width: 100%;
    }

    .nav-list li {
        font-size: 20px;
    }

    .nav-list a {
        display: block;
        width: 100%;
        padding: 5px;
    }
}


@media screen and (max-width: 375px) {
    .logo {
        margin-right: 29px;
        margin-left: 13px;
    }

    .nav-list {
        gap: 25px;
    }

    .nav-list a {
        padding: 0;
        font-size: 15px;
    }
}
