header{
    width: 100%;        /* largeur fixe comme la maquette */
    width: 1240px;      /* pour le responsive */
    height: 68px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.logo{
    height: 50px;
    

}   
.nav-list{
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
}
.nav-list li:active {
    text-decoration: underline;
}
nav a{
    text-decoration: none;
    color: black;

}
nav a.active{
    text-decoration: underline;
}
  
.removeUnderLine{
    text-decoration: none;
}